*~
*.bak
cbsetup
combust.conf
combust.conf.testing
tmp/

.DS_Store
MYMETA.*
Makefile
REVISION
logs/
cpan/
rrd/
docs/ntppool/_syndicate/
docs/shared/static/js/admin-templates.js
docs/shared/static/.static.versions.extra.json
dns/
db/
.data

*.gzip
*.dump
node_modules


# Ignore DevSpace cache and log folder
.devspace/
