perl  = /Users/ask/perl5/perlbrew/perls/perl-5.16.0/bin/perl
port = 8299
docs_name = docs
apache_reload = 1
job_servers = 127.0.0.1:4730

[database-ntppool]
# configure database access for use with the db_open() function
data_source = dbi:mysql:database=ntppool_prod;host=127.1
user        = ntppool
#password    = 
time_zone   = UTC
default=1

[database-combust]
alias=ntppool

[ntppool]
servername = ntp.pagekite.me
aliases    = *
deployment_mode = devel

[ntpgraphs]
servername = ntpgraphs.local
deployment_mode = devel

[manage]
servername = manage-ntp.pagekite.me
deployment_mode = devel
#bitcard_token = abc2134def
ssl_only = 1
