# development configuration for running the system outside kubernetes
# with ./docker/app or docker-compose

# web hostnames
web_hostname=web.ntp.test,graphs.ntp.test
manage_hostname=manage.ntp.test
manage_tls=no

# for nginx-proxy
VIRTUAL_HOST=web.ntp.test,manage.ntp.test,graphs.ntp.test

# for the dns zone
pool_domain=ntp.example.com

# auth0.com account for authentication
auth0_client=...
auth0_secret=...
auth0_domain=<subdomain>.auth0.com

db_dsn=dbi:mysql:database=ntppool;host=mysql
db_user=ntppool
db_pass=pooldev

deployment_mode=devel

email_default=support@pool.example.com
email_help=beta-help@pool.example.com
email_notifications=ask@pool.example.com
email_sender=ask@pool.example.com
email_support=beta-help@pool.example.com
email_vendors=beta-vendors@pool.example.com

