apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ntpbeta-web
  annotations:
    ingress.class: nginx
    ingress.kubernetes.io/configuration-snippet: |
      proxy_pass_header Server;
{{ if eq "$web_tls" "yes" }}
    kubernetes.io/tls-acme: "true"
{{- end }}
spec:
  rules:
  {{ range ("$hostnames" | split ",") }}
  - host: {{ . }}
    http:
      paths:
      - path: /
        backend:
          serviceName: web
          servicePort: 8980
  {{ end }}

  # web_tls: $web_tls
  {{ if eq "$web_tls" "yes" }}
  tls:
  - hosts:
    {{ range ("$hostnames" | split ",") -}}
    - {{ . }}
    {{ end -}}
    secretName: web-tls
  {{ end }}
