/* generic */
.mod {
	border-right: 1px solid #ccc;
	margin-bottom: 15px;
	font-size: 114%;
}
	.mod h3, #sidebar h3 {
                font-family: "p22-underground-1","p22-underground-2",serif;
 		font-size: 144%;
		padding: 3px 0;
		margin-bottom: 2px;
	}

#quickstart li { margin-bottom: 7px; };

.block {margin-bottom: 10px;}
       .block h1, h2, h3, h4 {
              padding: 3px 0;
              font-family: "p22-underground-1","p22-underground-2",serif;
              font-weight: 500;
        }
	.block h1 {
		font-size: 186%;
	}
	.block h2 {
		font-size: 167%;
	}
	.block h3 {
		font-size: 154%;
		color: #454545;
	}
	.block h4 {
		font-size: 120%;
		color: #454545;
	}

		.block ul.bullet {
			margin-left: 25px;
		}
			.block ul.bullet li {
				list-style-type: disc;
				margin-bottom: 5px;
			}
	.block fieldset input.text, textarea, select {
		border: 1px solid #aaa;
		margin-top: 3px;
		padding: 3px;
	}
		.block fieldset input.button {
			margin-top: 10px;
		}
	.block p.desc {font-size: 92%;}
p {margin-bottom: 7px; line-height: 1.3;}
pre.code {
         font-family: "ubuntu-mono-1","ubuntu-mono-2", monospace;
         background-color: #eee;
         padding: 10px;
         margin: 5px 0;
}
a.up {display: block; text-align: right; font-variant: small-caps;}
.clearboth {clear: both;}

/* index */
h1#tagline {font-size: 122%; font-style: italic; text-align: right;}
#activity .date {display: block; font-size: 92%; text-align: right; clear: both; margin-top: 40px;}
#servers .area {
	clear: both;
	padding: 4px 0;
	font-size: 122%;
}
	#servers .area .location {
		display: block;
		width: 100px;
		height: 38px;
		float: left;
		padding-left: 50px;
		font-size: 100%;
	}
		#servers .area .location a {text-decoration: none;}
		#servers .area .location a:hover {border-bottom: 1px solid #7EC6EC;}
		#servers .area .africa {background: no-repeat url(../images/globe_flat_africa.v1.png);}
		#servers .area .north-america {background: no-repeat url(../images/globe_flat_namerica.v1.png);}
		#servers .area .south-america {background: no-repeat url(../images/globe_flat_samerica.v1.png);}
		#servers .area .europe {background: no-repeat url(../images/globe_flat_europe.v1.png);}
		#servers .area .asia {background: no-repeat url(../images/globe_flat_asia.v1.png);}
		#servers .area .oceania {background: no-repeat url(../images/globe_flat_oceania.v1.png);}
		#servers .area .global {width: 100px; padding-left: 50px; height: 23px; margin-top: 5px;}
                #servers .count {  }

#activity {
	float: right;
	padding: 10px;
	border: 1px solid #ddd;
	margin: 0 0 10px 10px;
}
		
#news {}

	ul#news li {padding-top: 5px; padding-bottom: 10px; border-bottom: 1px solid #ccc; min-height: 29px;}
        ul#news h4 {padding-bottom: 5px; }
		ul#news li.last {border: 0;}
		ul#news li div.date {
			float: left; font-size: 122%; color: #3885B4;
			padding: 3px 5px; margin: 0 7px 5px 0;}
                ul#news li ul li { border: 0; list-style-type: disc; margin-left: 25px; }
		
/* use */	
.block span.hook {font-weight: bold;}
p.thanks {font-style: italic; font-weight: bold;}
		
/* manage */
	#admin .profile, #admin .adspace {
		padding: 10px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 5px;
	}
	#admin .servers {
		float: left;
		padding: 7px;
		border-right: 1px solid #ccc;
		margin: 0 10px 10px 0;
	}
		#admin .value span {font-size: 107%;}
		#admin .server_desc {font-size: 88%;}
		
/* zones */	
table.servertable {
	width: 100%;
	margin: 5px 0;
}

tr.deleted_server {
   text-decoration: line-through;
}


/* misc.prev */
.graph_explanation {
  display: none;
  width: 450px;
  margin-left: 30px;
  margin-top: 10px;
  padding: 9px;
  border: 1px dotted #999;
}

.visible {
   display: block;
}

dt {
   margin-top: 10px;
   font-weight: bold;
}

p.develwarning {
    border: 1px dotted #555555;
    background: #DDDDDD;
    padding: 15px;
    width: 750px;
    margin: 0 10px 10px 10px;
}

#vendor_list {
  border: 1px dotted #999;
  text-align: right;
  margin: auto;
  width: 250px;
}

#vendor_list li {
  background: red;
}

#vendor_content {
  float: left;
}

#dnsinfo td { padding: 8px }

span.s_his      { font-family: "ubuntu-mono-1","ubuntu-mono-2", monospace; }
span.s_his_ok   { color: green; font-size:80%; }  /* # */
span.s_his_tol  { color: yellow; }  /* x */
span.s_his_big  { color: #ffa500; }  /* o */
span.s_his_down { color: red;    }  /* _ */

span.error      { color: red; }
div.error       { color: red; }

span.deletion   { color: red; } 

/* graph legends */
span.legend_header,
span.legend {
   margin-right: 20px;
}

.total_score { fill: none; stroke: blue; stroke-width: 2px }

span.legend {
   border-bottom: 1px dotted black;
}

/* long explanation */
.server_history_legend { font-size: 0.85em; }

p.serverurls {
  font-size: 0.8em;
}

#zone_counts td { padding-right: 8px; vertical-align: text-top;  }

em.beta  { color: #888 }


/* graph formatting */
#graph rect {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

#graph .x line, #graph .y line {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

#graph .y_score line {
  stroke: #ddd;
  shape-rendering: crispEdges;
  stroke-dasharray: 2, 2, 2, 2;
}
