
/* 
h4 {
  margin-top: 0.5em;
  margin-bottom:0px;
}

#server_count { float:right;
	   	border: 1px dotted;
		margin: 2px;
		padding: 9px;
		}


.u {
  color: black;
  text-decoration: none;
}
 */
/* new */
/* #graph_explanation_box {
  border: 3px dotted red;
} */

