body {
  background-color: white;
  font-family: verdana, "Lucida Grande", arial, helvetica, sans-serif;
}

h1,h2,h3 {
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

#profile_link { display: inline; }

#nav { 
  margin-bottom: 0px;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;  /* inline-block ?  */
}

#nav li {
  float: left;
  margin: 0 0.15em;
  padding: 0;
  text-align: center;
  display: inline;  /* inline-block ? */
}

#nav li a {
  background: url(/images/background.png) #fff bottom left repeat-x;
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
  height: 1.4em;
  line-height: 1.4em;
  display: block;
  padding-left: 4px;
  padding-right: 4px;
  border: 0.1em solid #dcdce9;
  color: #0d2474;
  text-decoration: none;
  text-align: center;
  display: inline; /* inline-block ? */
}

#nav li a:hover {
  color: #0d74FF;
}

#content { 
  clear: both;
  padding-top: 10px;
}



span.s_his      { font-family: monospace; }
span.s_his_ok   { color: green; font-size:80%; }  /* # */
span.s_his_tol  { color: yellow; }  /* x */
span.s_his_big  { color: #ffa500; }  /* o */
span.s_his_down { color: red;    }  /* _ */

span.error      { color: red; }

span.deletion   { color: red; } 

.server_history_legend { font-size: 0.85em; }

h4 {
  margin-top: 0.5em;
  margin-bottom:0px;
}

#server_count { float:right;
	   	border: 1px dotted;
		margin: 2px;
		padding: 9px;
		}


table.servertable {
        font-size: 0.7em;
}

p.serverurls {
  font-size: 0.8em;
}

.u {
  color: black;
  text-decoration: none;
}


#graph_explanation_box {
  display: none;
  width: 450px;
  margin-left: 30px;
  margin-top: 10px;
  padding: 9px;
  border: 1px dotted #999; 
}

#faq dt {
   margin-top: 10px;
   font-weight: bold;
}

#vendor_list {
  border: 1px dotted #999;
  align: right;
  margin: auto;
  width: 250px;
}

#vendor_list li {
  background: red;
}

#vendor_content {
  float: left;
}

