perl = /usr/bin/perl
servername = ntppool
port = {{getenv "port" "8299"}}

{{ $mode := or (getenv "deployment_mode") "test"}}

# external_port.  Set to a non-zero value to set the port number used
# for external redirects (301's, 302's)
external_port = 80

# source ip's allowed to be frontend proxies, where the
# X-Forwarded-For header is honored.  Defaults to 127.0.0.1. The
# special option "*" will allow any IP to set the source IP (use only
# when the httpd is "firewalled in".
# proxyip_forwarders = 127.0.0.1, 10.15.0.10, 10.15.0.11,
proxyip_forwarders = 207.171.3.0/27, 10.220.0.0/16, 127.0.0.1, 10.2.0.0/16, 10.42.0.0/16

docs_name = docs



# add Apache::Reload to the httpd configuration; good for development! (default 0)
# 0 = disabled, 1 = enabled, 2 = enabled with debugging on
{{ if eq $mode "devel" }}
apache_reload = 1
{{ else }}
apache_reload = 0
{{ end }}

# use Template::Timer to insert timing information in the TT output (default 0)
# template_timer = 1

# path for log files and the httpd.pid file
# log_path = apache/logs
log_path = stdout

# path for temporary work files (compiled template cache etc)
# work_path = tmp
work_path = /var/ntppool/

# Gearman Job Servers
#job_servers = {{ getenv "GEARMAND_SERVICE_HOST" }}:{{ getenv "GEARMAND_SERVICE_PORT" }}

use_cronolog = 0

[database-ntppool]
# configure database access for use with the db_open() function
data_source = {{ getenv "db_dsn" }}
user        = {{ getenv "db_user" }}
password    = {{ getenv "db_pass" }}
time_zone   = UTC
default=1

[database-combust]
alias = ntppool

# Apache specific configuration
[apache]
{{ if eq $mode "prod" }}
maxclients          = 15
{{ else }}
maxclients          = 5
{{ end }}
keepalive           = On
keepalivetimeout    = 5

# Configure sites

[ntppool]
{{ $names := split (getenv "web_hostname") "," }}
servername = {{ index $names 0 }}
{{ if gt (len $names) 1 }}
aliases = {{ range $names }}{{.}}, {{ end}} web
{{ end }}

pool_domain = {{ getenv "pool_domain" }}
static_base = {{ getenv "static_base" }}
{{ $www_cname := or (getenv "www_cname") ""}}
{{ if gt (len $www_cname) 0 }}
www_cname = {{ $www_cname }}
{{ end }}

deployment_mode = {{ $mode }}

email_default       = {{ getenv "email_default" }}
email_support       = {{ getenv "email_support" }}
email_help          = {{ getenv "email_help"    }}
email_vendors       = {{ getenv "email_vendors" }}
email_notifications = {{ getenv "email_notifications" }}

account_id_key      = {{ getenv "account_id_key" }}

{{ if eq (getenv "web_tls") "yes" }}
ssl_only = 1
port = 443
external_port = 443
{{ end }}

#[ntpgraphs]
#servername = graphs-beta.grundclock.com
#deployment_mode = {{ $mode }}

[manage]
{{ $names := split (getenv "manage_hostname") "," }}
servername = {{ index $names 0 }}
aliases = {{ range $names }}{{.}}, {{ end}} manage

deployment_mode = {{ $mode }}
static_base = {{ getenv "static_base" }}

{{ if eq (getenv "manage_tls") "yes" }}
ssl_only = 1
port = 443
external_port = 443
{{ end }}

auth0_domain = {{ getenv "auth0_domain" }}
auth0_client = {{ getenv "auth0_client" }}
auth0_secret = {{ getenv "auth0_secret" }}
