
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.manage.servername %]
    [% expandServerAliases( config.site.manage.aliases ) %]
    PerlSetVar site [% site %]

    PerlTransHandler NTPPool::Control::LanguagePath

    PerlModule NTPPool

    Alias /zone/graph/ [% root_local %]/rrd/zone/graph/
    Alias /scores/graph/ [% root_local %]/rrd/server/graph/

    <Location />
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage::Root->super
    </Location>

    <Location /manage>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage->super
    </Location>

    <Location /scores/>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Scores->super
    </Location>

    <Location /manage/vendor>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Vendor->super
    </Location>

    <Location /manage/equipment>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage::Equipment->super
    </Location>

    <Location /api>
       SetHandler perl-script
       [% PH %] NTPPool::Control::API->super
    </Location>

    <Location /static>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Basic->super
    </Location>

  </VirtualHost>