
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.manage.servername %]
    [% expandServerAliases( config.site.manage.aliases ) %]
    PerlSetVar site [% site %]

    PerlTransHandler NTPPool::Control::LanguagePath

    PerlModule NTPPool

    <Location />
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage::Root->super
    </Location>

    <Location /manage>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage->super
    </Location>

    <Location /scores/>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Scores->super
    </Location>

    <Location /manage/vendor>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Vendor->super
    </Location>

    <Location /manage/server/>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage::Server->super
    </Location>

    <Location /manage/servers>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage::Server->super
    </Location>

    <Location /manage/account>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage::Account->super
    </Location>

    <Location /manage/monitors>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage::Monitor->super
    </Location>

    <Location /manage/equipment>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage::Equipment->super
    </Location>

    <Location /webhook>
       SetHandler perl-script
       [% PH %] NTPPool::Control::Manage::Webhook->super
    </Location>

    <Location /api>
       SetHandler perl-script
       [% PH %] NTPPool::Control::API->super
    </Location>

    <Location /static>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Basic->super
    </Location>

  </VirtualHost>