

  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.ntppool.servername %]
    [% expandServerAliases( config.site.ntppool.aliases ) %]
    PerlSetVar site [% site %]

    PerlTransHandler Combust::Redirect->super

    PerlModule NTPPool

    Alias /zone/graph/ [% root_local %]/rrd/zone/graph/
    Alias /scores/graph/ [% root_local %]/rrd/server/graph/

    <Location />
       SetHandler perl-script
       PerlHandler NTPPool::Control::Basic->super
    </Location>

    <Location /manage>
       SetHandler perl-script
       PerlHandler NTPPool::Control::Manage->super
    </Location>

    <Location /manage/vendor>
       SetHandler perl-script
       PerlHandler NTPPool::Control::Vendor->super
    </Location>

    <Location /dns.html>
       SetHandler perl-script
       PerlHandler NTPPool::Control::DNSStatus->super
    </Location>

    <Location /scores>
      SetHandler perl-script
      PerlHandler NTPPool::Control::Scores->super
    </Location>

    <Location /s>
      SetHandler perl-script
      PerlHandler NTPPool::Control::Scores->super
    </Location>

    <Location /scores/graph>
       SetHandler default
    </Location>

    <Location /bulletin>
      SetHandler perl-script
      PerlHandler NTPPool::Control::Bulletin->super
    </Location>

    <Location /zone>
      SetHandler perl-script
      PerlHandler NTPPool::Control::Zone->super
    </Location>

    <Location /user>
      SetHandler perl-script
      PerlHandler NTPPool::Control::UserProfile->super
    </Location>

    <Location /zone/graph>
      SetHandler default
    </Location>

    <Location /error/>
       SetHandler   perl-script
       PerlHandler NTPPool::Control::Error->super
    </Location>

    <Location /st/>
      ErrorDocument 404 "File not found
      SetHandler perl-script
      PerlHandler NTPPool::Control::Static->super
    </Location>

    <Location /server-status>
      SetHandler server-status
    </Location>
  </VirtualHost>

