
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.ntppool.servername %]
    [% expandServerAliases( config.site.ntppool.aliases ) %]
    PerlSetVar site [% site %]

    PerlTransHandler NTPPool::Control::LanguagePath

    PerlModule NTPPool

    <Location />
       SetHandler perl-script
       [% PH %] NTPPool::Control::Basic->super
    </Location>

    <Location /dns.html>
       SetHandler perl-script
       [% PH %] NTPPool::Control::DNSStatus->super
    </Location>

    <Location /scores>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Scores->super
    </Location>

    <Location /graph>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Graph->super
    </Location>

    <Location /s>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Scores->super
    </Location>

    <Location /zone>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Zone->super
    </Location>

    <Location /user>
      SetHandler perl-script
      [% PH %] NTPPool::Control::UserProfile->super
    </Location>

    <Location /monitor>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Monitor->super
    </Location>

    <Location /api/dns-zone>
      SetHandler perl-script
      [% PH %] NTPPool::Control::DNSZone->super
    </Location>

    <Location /static>
      SetHandler perl-script
      [% PH %] NTPPool::Control::Basic->super
    </Location>

  </VirtualHost>

